<div class="config">
  <div class="header">
    <button (click)="goHome()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        width="24"
        height="24"
      >
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
      </svg>
    </button>
    <span class="title">{{ set.name }}</span>
  </div>

  <div class="song-list">
    <div class="song-row" *ngFor="let song of set.songs; let i = index">
      <div class="song-line-1">
        <button (click)="moveUp(i)" class="reorder">↑</button>
        <input
          type="text"
          placeholder="Song name"
          [(ngModel)]="song.name"
          name="songName{{ i }}"
          class="name"
        />
        <button (click)="removeSong(i)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="16"
            height="16"
          >
            <path
              d="M3 6h18v2H3V6zm2 3h14v13a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9zm5 2v9h2v-9H10zm4 0v9h2v-9h-2zM9 4V3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1h5v2H4V4h5z"
            />
          </svg>
        </button>
      </div>
      <div class="song-line-2">
        <button (click)="moveDown(i)" class="reorder">↓</button>
        <input
          type="number"
          placeholder="BPM"
          [(ngModel)]="song.bpm"
          name="songBpm{{ i }}"
          class="bpm"
        />bpm
        <input
          type="number"
          placeholder="Duration (s)"
          [(ngModel)]="song.duration"
          name="songDuration{{ i }}"
          min="0"
          class="duration"
        />s
      </div>
    </div>
  </div>

  <div class="controls">
    <button (click)="addSong()">Add Song</button>
    <button (click)="startPlayer()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        width="20"
        height="20"
        style="vertical-align: middle; margin-right: 6px"
      >
        <path d="M8 5v14l11-7z" />
      </svg>

      Start
    </button>
  </div>
</div>
